@font-face {
    font-family: 'Norse_Bold';
    src: url('./fonts/Norse-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: sans-serif;
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;

    /* constants */ 
    --top_spacing: 20%;

    --title_pane_width: 40%;
    --main_pane_width: 60%;
    --main_component_width: 80%;

    --title_color: #eee;
    --title_bg: rgba(30, 30, 30, 50%);
    --text_color: rgb(30,30,30);
    --accent_color: #eee;
}

.title_pane {
    height: 100%;
    width: var(--title_pane_width);

    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: 100% 100%;

    /* to position descendants */ 
    position: relative;

    color: var(--title_color);
}

    .title_wrapper {
        height: 7rem;
        width: 100%;

        position: absolute;
        top: var(--top_spacing);

        background-color: var(--title_bg);

        display: flex;
        justify-content: center;
        align-items: center;
    }

        .title_logo {
            height: 90%;
            width: auto;
        }

        .title {
            font-family: 'Norse_bold';
            font-size: 5rem;

            /* hack to align title with logo */
            margin-top: 1.5rem;
        }

    .credit {
        font-size: 0.6rem;

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .credit > a:link {
            color: var(--title_color)
        }


.main {
    height: 100%;
    width: var(--main_pane_width);

    display: flex;
    flex-direction: column;

    color: var(--text_color);
    background-color: var(--accent_color);
}

    /* vertical divide between title and main panes */
    .main>div, 
    .form_wrapper,
    .button_wrapper {
        padding-left: 5%;
    }

    .call_to_action {
        /* 7rem to match .title_wrapper */ 
        height: calc(var(--top_spacing) + 7rem);
        width: var(--main_component_width);

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        font-weight: bold;
        line-height: 1.5;
    }

        .call_to_action p {
            margin-bottom: 1rem;
        }
        .call_to_action p:last-child {
            margin-bottom: 2rem;
        }
        .call_to_action .decorator {
            font-style: italic;
        }


    form {
        height: auto;
        width: 100%;
    }

        .form_wrapper {
            background-color: #fff;
            border-bottom: 3px solid grey;
        }

        fieldset {
            position: relative;
            border: none;
        }

            legend {
                position: relative;
                top: 1rem;
                left: 0;

                font-weight: bold;
            }

        ul {
            width: var(--main_component_width);

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            list-style: none;
        }

            .form_row {
                display: flex;
                gap: 2rem;
                row-gap: 1rem;
                margin-top: 1rem;
                flex-wrap: wrap;
            }
            .form_row:first-child {
                margin-top: 2rem;
            }
            .form_row:last-child {
                margin-bottom: 1rem;
            }

                label {
                    display: block;
                    text-transform: uppercase;
                    font-size: 0.6rem;
                }

                input {
                    width: 200px;

                    border-color: #e5e7eb;
                    border-radius: 3px;
                    border-style: solid;
                    border-width: 1px;

                    padding: .5rem;
                }
                input:focus {
                    border-color: blue;
                    box-shadow: 2px 3px var(--accent_color);
                }
                input:invalid {
                    border-color: red;
                }
                input::placeholder {
                    color: blue;
                }

    button {
        padding: 0.5rem 1rem;
        border-radius: 5px;

        margin: 1rem 0;

        color: var(--title_color);
        background-color: #596D48;
    }

    .log_in {
        width: var(--main_component_width);

        font-size: 0.6rem;
    }

        .log_in > p {
            display: inline;
        }

/* debug */

/* .title_wrapper, 
.title_wrapper>* {
    border: 1px solid lightgreen;
} */
